<nav>
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/pong">Pong</a></li>
        <li class="navbar-item"><a href="/high-scores">High-scores</a></li>
        {{#if userName}}
        <li class="navbar-item"><a href="/user-scores">{{userName}}</a></li>
        {{/if}}
        <li class="navbar-item navbar-right"><a href="/">log-out</a></li>
    </ul>
</nav>
