<table>
    <tr>
        <td><strong>User Name</strong></td>
        <td> <strong>Score</strong></td>
    </tr>
    {{#each user}}
        <tr>
            <td>{{userName}}</td>
            <td>{{score}}</td>
        </tr>
    {{/each}}
</table>
