
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTile}}</title>
    <link rel="stylesheet" href=groupProject.css>
</head>
<body>
    <h1><strong>{{pageTitle}}</strong></h1> 
    {{>navBar}}
    {{{body}}}
</body>

</html>
<script src="groupProject.js"></script>

